<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'commons/commons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'salesAdmin/common.css' %}">
</head>
<body>
<h1 class="common-h1">Welcome Admin site</h1>
<h4 class="commons-layout">Commons layout</h4>
<h4 class="common-h4">Common H4</h4>
<img src="{% static "downloads/images.jpg" %}">
</body>
</html>